<div class="input-box">
    <input id="input-zip" type="number" required>
    <label for="ZIP code">Enter your zip code</label>
    <div class="no-zipcode-msg invalid-msg d-none">
        Add your event's zip code
    </div>
    <div class="zipcode-length-msg invalid-msg d-none">
        Zip codes must be 5 digits long
    </div>
    <div class="d-flex flex-row  align-items-center">
        <button id="back-btn" class="mt-4 btn-half-alt" onclick="backDogForm()" type="submit">Back </button>
        <br> <br>
        <button id="submit-zip" class="mt-4 btn-half">submit</button>
    </div>
    <div id="row">

    </div>
</div>